body,html
  width 100%
  height 100%
  #app
    width 100%
    height 100%
    position relative
   
    .topContainer
      width 100%
      .top
        width 690px
        height 56px
        background: pink;
        padding: 16px 30px;
        display flex
        align-items center
        justify-content space-between
        img
          width 138px
          height 40px
        .search
          width 442px
          height 56px
          background-color: #ededed
          border-radius: 10px
          line-height: 56px
          display: flex
          justify-content: center
          .iconfont
            margin-right: 10px
            box-sizing: border-box
        .button
          width 72px
          height 38px
          color red
          background-color: white
          line-height 38px
          border-radius: 1px solid red
          border-radius: 6px
    
        