.html,body
  width 100%
  height 100%
  background-color #EEEEEE
  .searchContainer
    width 750px
    height 444px
    background-color white 
    .top
      width 690px
      height 88px
      margin 0 auto
      display flex
      align-items center
      position relative
      line-height 88px
      text-align center
      input
        width 604px
        height 56px
        background-color #EEEEEE
        padding-left 60px
        box-sizing border-box
        font-size 27px
        color #A1A1A1
      .iconfont
        position absolute
        left 14px
        top 0
        font-size 26px
      button 
        height 42px
        font-size 26px
        margin-left 25px
        background-color white
    .bottom
      height 357px
      padding 0 30px 30px  30px
      box-sizing border-box
      margin-bottom 20px
      .header
        width 690px
        height 90px
        line-height 90px
        font-size 27px
        color #A1A1A1
      .list
        width 100%
        height 237px
        display flex
        flex-flow wrap
        .item
          height 45px
          padding 0 15px
          border 1px solid #A1A1A1
          margin 0 32px 32px 0
          white-space nowrap
          line-height 45px
          &.active
            color red
            border 0.5px solid red